<%-include('partials/header')-%>


<%-include('partials/navbar')-%>

<div class="outer_container ">
    <h2 class="article_home_heading">Blogs.</h2>
    <i class="home_quote">Be you the world will adjust.</i>
</div>
<div class="container">
    
    
    
    <ul>
        <% articles.forEach(article => { %>


            <li class="card"> 
               <div class="articleHome_card_flex">
                    
                    <div class="card_article_info">
                        <p class="create_date home_list_create_date">
                            <%= article.createdAt.toString().slice(0,15) %>
                        </p>

                        <span class="article_title"> <%= article.title %> </span> 

                        <span class="article_title"> <%= article.author.name %> </span> 

                    </div>

                    <div class="card_article_desc">
                        <span class="article_desc">
                            <%= article.description.slice(0, Math.floor(article.description.length * 0.50)) + ' . . .' %>
                        </span>
                        <a href="/articles/<%=article.id%>/read">
                            <div class="articleHome_btn_wrapper">
                                
                                <button class="articleHome_btn">
                                    Read More
                                </span>
                                </button>
                            </div>    
                        </a>
                    </div>

               </div>
        
             </li>
        
        <% }) %>
    </ul>

    <a href="/articles/new"> <button class="articleHome_btn publish_btn"> Publish</button> </a>
    
</div>

<%-include('partials/footer')-%>