<%-include('partials/header')-%>


<%-include('partials/navbar')-%>

<div class="container">
    
    <% if(currentUser) { %>
        <a href="/users/<%= currentUser.id %>/myarticles"> <button class="btn"> My Articles</button> </a>
    <% } %>
    
    <ul>
        <% articles.forEach(article => { %>
        <a href="/articles/<%=article.id%>/read">

            <li class="card"> 
               <div class="articleHome_card_flex">
                    
                    <div class="card_article_info">
                        <p class="create_date">
                            <%= article.createdAt.toString().slice(0,15) %>
                        </p>

                        <span class="article_title"> <%= article.title %> </span> 

                        <span class="article_title"> <%= article.author.name %> </span> 

                    </div>

                    <div class="card_article_desc">
                        <span class="article_desc">
                            <%= article.description.slice(0,750) %>
                        </span>
                        <a href="/articles/<%=article.id%>/read">
                            <div class="articleHome_btn_wrapper">
                                
                                <button class="articleHome_btn">
                                    Read More 
                                </span>
                                </button>
                            </div>    
                        </a>
                    </div>

               </div>
        
             </li>
        </a>
        <% }) %>
    </ul>
    
</div>

<%-include('partials/footer')-%>