<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<article>
    <div class="blog_container">
        <h1 class="heading"> <%=article.title%> </h1>
    
        <div class="content_flex">
            <p class="author_name">Author: <%= article.author.name %></p>
            
            <% if(article.author.id == currentUser)  { %>
                <div>
                    <a href="/articles/<%= article._id %>/edit" class="edit">Edit</a>
                    <a href="/articles/<%= article._id %>/delete" class="delete">Delete</a>
                </div>
            <% } %>

        </div>

        
        <p class="date"><%= article.createdAt %></p>

        <p class="para"><%=article.description%></p>

        <% article.tags.forEach(tag => { %>
            <span class="show_tag"> <%= tag %> </span>
        <% })%>
    </div>
</article>

<section class="comment_section">
    <div class="blog_container">

        <ul>
            <% comments.forEach(comment => { %>
                <% if(comment.id != targetComment.id) {%>
               
                <li class="comment_card">
                    <div class="user_icon">
                        <i class="fas fa-user-circle"></i>
                    </div>

                    <div class="user_comment">
                        <p class="comment_author"><%= comment.author.name %></p>
                        <p class="feedback"><%= comment.content %></p>

                    <% if(comment.author.id == currentUser) { %>
                        <a href="/articles/<%=article._id%>/comments/<%= comment._id %>/edit" class="comment_edit">Edit</a>
                        <a href="/articles/<%=article._id%>/comments/<%= comment._id %>/delete"
                        class="comment_delete">Delete</a>
                    <% } %>
                        
                    </div>
                </li>
                
            <% }}) %>

        </ul>

        <form action = "/articles/<%= article._id%>/comments/<%=targetComment._id%>/edit" method="POST" class="comment_form">
            <textarea name="content"rows="6" placeholder="Write a response..." class="comment" maxlength="480">
                <%= targetComment.content %>
            </textarea>
            <input type="submit" value="Comment" class="comment_submit">
        </form>

    </div>
</section>

<%-include('partials/footer')-%>