<%-include('partials/header')-%>

<%-include('partials/navbar')-%>

<div class="container">
    <h1 class="error_msg"><%= message %></h1>
    <pre><%= error.stack %></pre>
    <a href="/articles"> <button class="back btn">Back</button></a>
</div>


<%-include('partials/footer')-%>




