<%-include('partials/header')-%>


<%-include('partials/navbar')-%>

<div class="container">

    <ul>
        <% articles.forEach(article => { %>
        <a href="/articles/<%=article._id%>">

            <li class="card"> 
                <span class="article_title"> <%= article.title %> </span> 

                <p class="create_date">
                    <%= article.createdAt %>
                </p>

                <p class="article_desc">
                    <%= article.description.slice(0,750) %>
                </p>

                <p class="upvote">
                    <i class="fas fa-arrow-alt-circle-up"></i> <%= article.likes%> 
                </p>
        
             </li>
        </a>
        <% }) %>
    </ul>
    
</div>

<%-include('partials/footer')-%>