<%-include('partials/header')-%>
<body>

    <h3><a href="/users/<%=user%>/article"> Article </a></h3>
    
    <h3><a href="/users/<%=user%>/edit"> Edit </a></h3>

    <h3><a href="/users/<%=user%>/delete"> Delete </a></h3>

    <h3><a href="/users/all"> Back </a></h3>

    <h3><a href="/"> Home </a></h3>

<%-include('partials/footer')-%>